# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
# Your code here:
import pymysql
import pandasql
from sqlalchemy import create_engine

driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'employees'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

salaries = pd.read_sql("select * from employees_advanced", engine)

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
salaries.isnull().count()

Name                 33183
Job Titles           33183
Department           33183
Full or Part-Time    33183
Salary or Hourly     33183
Typical Hours        33183
Annual Salary        33183
Hourly Rate          33183
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
# Your code here:
salaries.groupby("Department").count()["Name"]

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [20]:
# Your code here:
Hourly = salaries[salaries["Salary or Hourly"]=="Hourly"]

#H0 hourly wage is not significantly different from 30
#H1 is significantly different from 30

In [56]:
from scipy.stats import ttest_1samp, ttest_ind, t
ttest_1samp(Hourly["Hourly Rate"], 30)

#p value is very small, therefore we reject H0

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [26]:
# Your code here:
salaries.groupby("Department").mean()["Annual Salary"]

#H0 salaries are less than 86000
#H1 salaries are greater

Department
ADMIN HEARNG             78683.692308
ANIMAL CONTRL            66197.612903
AVIATION                 78750.549324
BOARD OF ELECTION        53548.149533
BOARD OF ETHICS          95061.000000
BUDGET & MGMT            91836.545455
BUILDINGS                99246.761041
BUSINESS AFFAIRS         80577.073171
CITY CLERK               70899.392857
CITY COUNCIL             64482.566801
COMMUNITY DEVELOPMENT    88430.778325
COPA                     76150.034483
CULTURAL AFFAIRS         89566.551724
DISABILITIES             83879.571429
DoIT                     99978.060606
FAMILY & SUPPORT         79895.762195
FINANCE                  73781.255814
FIRE                     97958.600811
GENERAL SERVICES         83545.057116
HEALTH                   85557.501031
HUMAN RELATIONS          94819.500000
HUMAN RESOURCES          80230.560000
INSPECTOR GEN            79874.758621
LAW                      85958.321526
LICENSE APPL COMM        84420.000000
MAYOR'S OFFICE           98186.142857
OEMC                     74060.488299
POLICE                   86486.414503
POLICE BOARD             86136.000000
PROCUREMENT              83093.866667
PUBLIC LIBRARY           70750.407821
STREETS & SAN            83019.250000
TRANSPORTN               88657.905542
TREASURER                91832.863636
WATER MGMNT              89843.701639
Name: Annual Salary, dtype: float64

In [38]:
#ttest_ind(86486, 86000)

police = salaries[(salaries["Department"]=="POLICE") & (salaries["Salary or Hourly"]=="Salary")]
police
ttest_1samp(police["Annual Salary"], 86000)

# p value and p value/2 is significantly smaller than alpha so we reject H0

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [44]:
# Your code here:
pd.crosstab(salaries["Department"], salaries["Salary or Hourly"])["Hourly"].sort_values(ascending=False).head()

Department
STREETS & SAN       1862
WATER MGMNT         1513
OEMC                1273
AVIATION            1082
GENERAL SERVICES     765
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [49]:
# Your code here:
#H0 workers get paid less or equal 35
#H1 Workers get paid more

streets = salaries[(salaries["Department"] == "STREETS & SAN") & (salaries["Salary or Hourly"]=="Hourly")]
ttest_1samp(streets["Hourly Rate"], 35)

#p is small however t statistics is negative so we can not reject H0

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [59]:
# Your code here:
import scipy.stats as st
st.t.interval(0.95, Hourly["Hourly Rate"].count()-1, loc=np.mean(Hourly["Hourly Rate"]), scale=st.sem(Hourly["Hourly Rate"]))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [62]:
# Your code here:
police
st.t.interval(0.95, police["Annual Salary"].count()-1, loc=np.mean(police["Annual Salary"]), scale=st.sem(police["Annual Salary"]))

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [63]:
# Your code here:

import statsmodels.stats.proportion as smod

In [71]:

smod.proportion_confint(Hourly["Hourly Rate"].count(), salaries["Name"].count(), alpha=0.05, method='normal')

(0.23714370024366038, 0.24635688740664247)

In [75]:
smod.proportions_ztest(Hourly["Hourly Rate"].count(), salaries["Name"].count(), value = 0.05)

(81.58385654690773, 0.0)